.btn {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	margin-top: auto;
	width: 23rem;
	height: 5rem;
	border-radius: .9rem;
	border: none;
	background: #e46a5d;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	align-self: center;

	@mixin min 768 {
		
	}

	&__footer {
		text-align: center;
	}
}