.forCharities {
	border: 2px solid red;
	/*background: yellow;*/
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	/*text-align: center;*/
/*
	&__item {
		background: lightblue;
		padding-bottom: 2rem;
		background: rgb(240, 240, 240);
		width: 100%;

		@mixin min 768 {
			width: 30%;
		}*/	

		h2 {
			padding-top: 1rem;

			@mixin min 768 {
				padding-top: 2rem;
			}
		}
	}

/*	img {
		width: 100%;
	}

	p {
		padding-top: 1rem;
		padding-right: .5rem;
		padding-left: .5rem;
		font-size: 1.8rem;

	}

	h3 {
		padding-top: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1.8rem;

		&:nth-child(3) {
			padding-top: 0;
		} 
		
	}*/

.charityItem {
	position: relative;
	/*margin-top: auto;*/
	padding-bottom: 9.8rem;
	border: 2px solid blue;
	/*margin-top: auto;*/
	/*background: yellow;*/
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*justify-content: flex-end;*/
	/*justify-content: space-between;*/
	text-align: center;

	/*background: lightblue;*/
	padding-bottom: 2rem;
	background: rgb(240, 240, 240);
	width: 100%;
	/*height: 52rem;*/

	@mixin min 768 {
		width: 30%;
	}

	img {
		width: 100%;
	}

	p {
		padding-top: 1rem;
		padding-right: .5rem;
		padding-left: .5rem;
		padding-bottom: 5rem;
		font-size: 1.8rem;
	}

	h3 {
		/*padding-top: 3rem;*/
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 0;
		font-size: 1.8rem;

		&:nth-child(3) {
			padding-top: 0;
		} 
	}
}
