.service {
	padding: 3rem 0 0 0;

	&:nth-child(3) {
		margin: 0 0 0 0;

		@mixin min 768 {
			margin: 9rem 0 0 0;
		}

		@mixin min 1024 {
			margin: 12rem 0 0 0;
		}
	}

	.holder {
		.left {
			@mixin tra;

			@mixin min 768 {
				width: 48%;
			}
		}

		&__left {
			text-align: center;
		}

		&__right {
			background: #fff;
			
			@mixin min 768 {
				width: 50%;
				padding-top: 0;
			}
		}
	}

	.title {
		color: var(--accent-color);
		font-size: 2rem;
	}

	ul {
		position: relative;
		left: 2rem;
	}

	p {
		font-size: 1.5rem;
	}

	&:nth-child(3) {
		padding-top: 0;
	}
}

.page3 {
	.activities {
		padding: 0;	
		
		&__header {
			padding: 4.5rem 0 0 0;
		}

		.activity {
			background: #fff;
			margin-top: -1rem;
			height: 100%;
			padding-top: 3rem;
			@mixin tra;

			@mixin min 768 {
				width: 33%;
			}

			&:hover {
				bottom: 1rem;
				transform: translateY(-1.5rem);
				box-shadow: .1rem .1rem 1rem .1rem rgba(0,0,0,.1);
				@mixin tra;

				.activity__left {
					opacity: .85;
					transform: scale(1.1);
				}

				.title {
					color: var(--accent-color);
				}
			}

			.activities {
				padding-bottom: 0;	
				
				&__header {
					padding: 4.5rem 0 2rem 0;
				}
			}

			&__left {
				width: 100%;
				max-width: 100%;
				max-height: 100%;
				text-align: center;
				@mixin tra;
			}

			&__right {
				padding-top: 2rem;
				color: #000;
				
				.title {
					color: var(--accent-color-3);
				}

				p {
					color: #000;
					font-size: 1.5rem;
				}
			}
		}

		h3 {
			color: var(--accent-color);
		}
	}
}

.ul {
	position: relative;
	padding-top: 0;
	justify-content: space-between;
	font-size: 1.5rem;
	text-align: center;

	@mixin min 768 {
		text-align: left;
	}

	&__header {
		display: flex;

		.title {
			font-size: 2rem;
		}
	}

	&__main {
		.left {
			@mixin min 769 {
				width: 49%;
			}
		}

		.holder {
			justify-content: center;
			margin-top: 6rem;

			@mixin min 769 {
				justify-content: flex-start;
			}

			ul {
				list-style-type: none;
				font-size: 1.8rem;
				line-height: 3rem;

				@mixin min 375 {
					font-size: 1.7rem;
					line-height: 3.5rem;
				}

				@mixin min 768 {
					font-size: 2rem;
				}

				@mixin min 975 {
					line-height: 5.5rem;
				}

				li {
					position: relative;
					width: 100%;
					font-size: 1.8rem;

					svg {
						/*display: none;*/
					}

					&:before {
						/*position: absolute;*/
						font-family: "Font Awesome 5 Pro";
						content:'\f058';
						padding-right: 1rem;
						font-weight: 400;
						font-size: 2.2rem;
						list-style-type: none;
						color: var(--accent-color);
						/*display: inline-block;*/
						/*vertical-align: middle;*/	
						@mixin tra;					
					}
				}
			}
		}
	}

	.title {
		color: #000;
		margin-bottom: 0;
	}

	a {
		color: #000;
		@mixin tra;

		&:hover {
			color: var(--accent-color);
		}
	}
}

.similar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1.5rem 1.5rem 1.5rem 1rem;
	margin-top: 2rem;
	border: .2rem solid black;
	border-radius: 1rem;
	font-size: 1.6rem;
	@mixin tra;

	&:hover {
		.icon {
			transform: rotate(360deg);
			transition-duration: .3s;
		}
	}

	@mixin min 768 {
		padding: 1.5rem 1.5rem 1.5rem 3rem;
		margin-top: 7rem;
		font-size: 1.8rem;
	}

	p {
		color: var(--accent-color);
		margin: 0;
	}

	span {
		color: var(--accent-color-3);
		font-weight: 700;
		@mixin tra;

		@mixin min 768 {
			padding-left: .5rem;
		}

		&:hover {
			opacity: .6;
		}
	}

	.icon {
		/*margin-right: 2rem;*/
		margin: 0 1rem 0 .5rem;
		font-size: 2.5rem;
		color: var(--accent-color);
		font-weight: 900;
		transform-origin: 58% 52%;

		@mixin min 768 {
			margin: 0 2.5rem 0 0;
		}
	}
}