.page4 {
	.activity {
		background: #fff;
		height: 100%;
		padding: 3rem .5rem 3rem 1rem;
		@mixin tra;

/*		@mixin min 375 {
			height: 34rem;
		}

		@mixin min 425 {
			height: 38rem;
		}*/

		@mixin min 768 {
			width: 31%;
			/*height: 40rem;*/
		}

		&:hover {
			bottom: 1rem;
			transform: translateY(-1.5rem);
			background: rgba(254,112,17,.10);
			box-shadow: .1rem .1rem 1rem .1rem #808080;

			img {
				opacity: .85;
			}
		}

		.left {
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}

		.right {
			padding-top: 2rem;
			color: #000;
			
			.title {
				color: #07396a;
			}

			p {
				color: #000;
				font-size: 1.5rem;
			}
		}
	}

	.activities__header {
		padding: 4.5rem 0 2rem 0;
	}
}