.page4 {
	.activity {
		background: #fff;
		height: 100%;
		padding: 3rem .5rem 3rem 1rem;
		@mixin tra;

		@mixin min 768 {
			width: 31%;
		}

		&:hover {
			bottom: 1rem;
			transform: translateY(-1.5rem);
			box-shadow: .1rem .1rem 1rem .1rem rgba(0,0,0,.1);

			img {
				opacity: .85;
			}
		}

		.left {
			width: 100%;
			max-width: 100%;
			max-height: 100%;
			text-align: center;

			@mixin min 768 {
				text-align: left;
			}
		}

		.right {
			padding-top: 2rem;
			
			.title {
				color: var(--accent-color-3);
			}

			p {
				color: #000;
				font-size: 1.5rem;
			}
		}
	}

	.activities {
		padding-top: 0;
		text-align: center;

		@mixin min 1024 {
			padding-top: 3rem;
		}

		@mixin min 1440 {
			padding-top: 7rem;
		}

		&__header {
			display: inline-block;
			padding: 4.5rem 0 2rem 0;
		}
	}
}