.header {
	padding-top: 1rem;
	height: 6.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	background: rgba(255, 255, 255, .92);
	font-size: 1.5rem;

	@mixin min 768 {
		height: 6.5rem;
		padding-top: 0;
		justify-content: space-around;
	}

	&__links {
		display: flex;
		width: 50%;
		height: auto;
		order: 2;
		margin-bottom: 0;
		justify-content: space-between;

		@mixin min 768 {
			order: 3;
			width: 25%;
			justify-content: space-around;
		}
	}

	.btn {
		font-size: 0;
		padding: 0 1rem 0 1rem;
		text-align: center;

		@mixin min 768 {
			font-size: 1.5rem;
		}

		span {
			font-size: initial;
			padding: 0 1rem 0 1rem;
		}
	}
}

.logo {
	width: 50%;
	text-align: center;
	order: 1;

	@mixin min 768 {
		top: 0;
		width: 30rem;
		padding-left: 3.5rem;
		text-align: left;
	}
}

body {
	/*background: #0377b2;*/
}