.links {
	text-transform: uppercase;
	font-weight: 700;
	@mixin tra;

	&:hover {
		color: var(--accent-color);
	    cursor: pointer;
	}

	&:after {
		content:'>>';
		position: relative;
		top: 0;
		left: .5rem;
		font-size: 1.3rem;
	}

	@mixin min 768 {
		color: #FFF;
	}
}

.pp {
	p {
		font-size: 3.2rem;
	}
}

.breadLinks {
	color: #000;
	position: relative;

	&:after {
		content:'>';
		top: 0;
		left: 1rem;
		position: relative;
	}
}