.secondHeader {
	background: #ddd;

	@mixin min 768 {
		height: 31rem;
	}

	h2 {
		text-transform: uppercase;
	}

	&__holder {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;

		@mixin min 768 {
			flex-direction: row;
			margin-top: 0;
		}
	}

	&__left {
		width: 100%;
		height: auto;

		@mixin min 768 {
			width: 45%;
		}
	}

	&__right {
		width: 100%;

		@mixin min 768 {
			width: 47.5%;
		}
	}

	h2 {
		font-weight: 700;
	}

	p {
		font-size: 1.7rem;
		font-weight: 700;
	}

	a {
		font-size: 1.5rem;
		color: var(--accent-color);

		&:hover {
			color: var(--accent-color-2);
		}
	}
}